<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timewaste.timewaste"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.timewaste.timewaste.CategoriesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.timewaste.games.tictactoe.TicTacToe"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="TicTacToe"
            android:parentActivityName="com.timewaste.timewaste.CategoriesActivity" >
        </activity>
        
        <activity
            android:launchMode="singleTop"
            android:name="com.timewaste.games.shoot.Shoot"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Shoot"
            android:parentActivityName="com.timewaste.timewaste.CategoriesActivity" >
        </activity>

 		<activity
            android:launchMode="singleTop"
            android:name="com.timewaste.games.labyrinth.Labyrinth"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Labyrinth"
            android:parentActivityName="com.timewaste.timewaste.CategoriesActivity" >
        </activity>

		<activity
            android:name="com.timewaste.games.drinkfarm.DrinkFarm"
            android:label="@string/title_activity_drink_farm" >
        </activity>

        <service
            android:name="com.timewaste.timewaste.GameController"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>